<header
  class="fixed top-0 right-0 w-[calc(100%-5rem)] z-40 bg-surface/60 dark:bg-surface/60 backdrop-blur-md border-b border-outline-variant/20 shadow-sm flex justify-between items-center px-margin-desktop h-16 transition-all duration-300">
  <div class="flex items-center gap-8 flex-1">
    <h1 class="font-display-lg text-display-lg text-primary text-2xl">Acme Logistics IoT</h1>
    <div class="relative w-full max-w-md">
      <span class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-on-surface-variant text-sm"
        data-icon="search">search</span>
      <input
        class="w-full bg-surface-container-low border border-outline-variant/30 rounded-lg py-1.5 pl-10 pr-4 font-body-md text-body-md focus:ring-1 focus:ring-secondary focus:border-secondary outline-none transition-all"
        placeholder="Search devices or logs..." type="text" />
    </div>
  </div>
  <div class="flex items-center gap-6">
    <button class="relative hover:text-secondary transition-colors scale-95 active:scale-90">
      <span class="material-symbols-outlined" data-icon="notifications">notifications</span>
      <span class="absolute top-0 right-0 w-2 h-2 bg-error rounded-full"></span>
    </button>
    <div class="h-8 w-[1px] bg-outline-variant/20"></div>
    <div class="flex items-center gap-3">
      <div class="text-right hidden sm:block">
        <p class="font-body-md text-body-md font-bold text-primary">System Online</p>
        <p class="text-[10px] text-secondary">Latency: 24ms</p>
      </div>
      <div
        class="w-10 h-10 rounded-lg bg-surface-container-highest border border-outline-variant flex items-center justify-center overflow-hidden">
        <img class="w-full h-full object-cover"
          data-alt="A macro photograph of a sleek, brushed metal smartwatch interface displaying glowing green telemetry data on a dark slate screen. The lighting is moody with subtle emerald accents, conveying a sense of high-precision monitoring and modern industrial design."
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuCwV3WtaIjQV8W60at-LMb1QWolDYu_HSN4rg1NywQYF88upmYQGXZ5CPll5hTy3trKCmcCpKuauh1s8sdPFwomok8rUaw10JZlQ8ytPrwMI3cADUI9N6zpFhTrhkzsMAsOmWO40ifBXc4UkPmaOKU1V8dM4OgxHIGUqAu2sGRlBrh1ss5SFw33ih4ObtImmFk6AIs5AirQdGb0aP3fN3E7dFpvBkx-k-lIM1XFfd6pnlFHpejWLmS2Lg" />
      </div>
    </div>
  </div>
</header>
